#NavSend{
    font-family: 'Licorice', cursive;
    font-size:2rem;
}


#Home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: white;
    justify-content: space-around;
    align-content: space-between;
    video{
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
    }

    }
    
   #Textohome{  
    display:flex;
    color:white;
    background-color: rgba(17, 17, 255, 0.733);
    position:relative;
    z-index:1;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:0;
    h1{
        font-family: 'Licorice', cursive;
        font-size:10rem;
        margin-bottom: -60;
    }
    p{
    font-size:2rem;
    font-family: 'Raleway', sans-serif;

    }
}


#Funcion{
    background:linear-gradient(10deg,rgb(18, 110, 248),rgb(52, 39, 243),rgb(51, 51, 255));

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    align-content: center;
    h2{
        font-size:3rem;
        padding-top:120px;
        padding-bottom:40px;
        width:100%;
        margin-top:0;
        color:white;

       }
       p{
        font-size:1.5rem;
        color:rgb(255, 255, 255);
        font-family: 'Raleway', sans-serif;
       }
       h3{
        font-family: 'Smooch', cursive;
        font-size:6rem;
        a{
            text-decoration:none;
            color:white;
        }

       }
       h3:hover{
        font-size:6.5rem;
       }

       img{
        width:40%;
       }

    
}

#Servicios{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-around; 
    background:linear-gradient(10deg,rgb(2, 2, 44),rgb(52, 39, 243),rgb(18, 110, 248));
    
       h2{
        font-size:2rem;
        padding-top:120px;
        padding-bottom:40px;
        width:100%;
        margin-top:0;
        color:white;

       }
    
} 



#Entrega{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    button{
        margin-top:10px;
    }

  
}


#ServiciosMoto{
   display:flex;
   flex-direction:column;
   margin-top:20px;
   align-items: center;

    div{
      display:flex;
      flex-direction:column;
    h3{
        font-family: 'Press Start 2P', cursive;
        font-size:3rem;
        color:rgb(230, 255, 1);
        z-index:1;
    }
    h4{
        font-family: 'Press Start 2P', cursive;
        font-size:2rem;
        color:rgb(230, 255, 1);

    }
}
}


#SeccionApp{
    background:linear-gradient(10deg,rgb(18, 110, 248),rgb(52, 39, 243),rgb(2, 2, 44));
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    h2{ 
        
        margin-top: 100px;
        font-family: 'Bebas Neue', cursive;
        color:white;
        font-size:5rem;
        line-height :60px;
    }
    img{
        width:80%;
    }
}


#App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-size:1rem;
         width:100%;
        margin-top:5px;
        margin-bottom:0;
        color:white;
        font-family: 'Raleway', sans-serif;
        font-size:1rem;}

     #SendApp{
        width:25%;
        align-self:center;
    }

    #imagenapp{
        margin-top:10px;
        margin-bottom: 40px;
        align-self: center;
        margin-left:50px;
    }
}

#ImagenMoto{
    width:80%;
    margin-top:10px;
}



#Nosotros{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
	height: 100vh;
	color: #fff;
	background: linear-gradient(45deg,rgb(230, 230, 248),rgb(52, 39, 243),rgb(202, 48, 181));
	background-size: 400% 400%;
	position: relative;
	animation: cambiarcolor 10s ease-in-out infinite;
    @keyframes cambiarcolor{
        0%{background-position: 0 50%;}
        50%{background-position: 100% 50%;}
        100%{background-position: 0 50%;}
    }

    h2{
        margin-top:120px;
        font-family: 'Roboto', sans-serif;
        font-size:4rem;
        color:rgba(0, 0, 0, 0.74);
        font-weight: 600;
    }
    /*Animaciones H2 Nosotros */

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-21 20:35:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
     
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  

  h3{
    font-family: 'Roboto', sans-serif;
    font-size:2rem;
    font-weight: 200;
}

hr{
    height:4px;

}

img{
    height:50%;
}

svg{
    padding:10px;
}

#ContenedorBotones{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
}
 


/*CODIGO SLIDER EMPRESAS*/
.slider {
    width: 75vw;
    height: auto;
    margin: 0;
    overflow: hidden;
  
}

.slider .slide-track {
    display: flex;
    flex-direction: row !important;
    animation: scroll 60s linear infinite;
    -webkit-animation: scroll 60s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 100px;
}

.slider .slide img {
    width: 50%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 8));
        transform: translateX(calc(-200px * 8));
    }
}


#Contacto{
    display:inline-block;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,rgb(230, 230, 248),rgb(52, 39, 243),rgb(202, 48, 181));
}

#titulocontacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    h2{
        color:white;
        background-color:black;
        padding-bottom:10px;
        width:50%;
        z-index:2;
        margin-top:20px;
    }

  
}

#cabeceracontacto{
    margin-top:10px;
    h3{
        color:rgb(255, 255, 255);
        position:absolute;
        z-index:2;

    }
    
    img{
        position:relative;
        z-index:0;
        width:100%;
    }
}




#FormContacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    position:relative;
    z-index:1;
    
    padding-bottom:80px;

    h4{
        padding-top:40px;
        color:white;
        margin-bottom:10px;
    }

    label{
        margin-top:10px;
        color:white;
       
       }

       input{
        width: 288px
       }
       textarea{
        width: 288px;
        height:200px;
       }
       select{
        width: 288px
       }
    
}

footer{
    background-color:rgb(34, 34, 34);
   width:100%;
   display:flex;
   flex-direction: column;
   padding-top:10px;
}

#RRSS-Footer{
    display:flex;
    flex-direction: column;
    h3{ 
        color:white;
        font-size:1rem;
    }

}

#Iconos-RRSS{
    display:flex;
    flex-direction:row;
    img{
        width:10%;
    }
}

#DatosEmpresa-Footer{
    display:flex;
    flex-direction: column;
    margin-top:20px;
    color:white;
   
}

@media(min-width:570px){
    #textcenternosotros{
   display: flex;
align-items: center;
flex-direction: column;
  #Nosotros {
    h5{
        margin-top:-150px;
    }
  }
}
}
 

   
   


   /*Tablet*/
@media(min-width:768px){
    #Nosotros{
        h2{
            margin-top:150px;
        }
        h5{
            margin-top:0;
        }
        #BotonNosotros{
            width:300px;

        }
    
        #ContenedorBotones{
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom:60px;
        }
    }
     #textcenternosotros{
        display: flex;
    align-items: center;
    flex-direction: column;}

       /*   APP   */
#App #SendApp {
        width: 15%;
        align-self: center;
    }
    
    #SeccionApp {
        justify-content: space-around;

        img {
        width: 60%;}
        
            h2 {
            margin-top: 100px;
            font-family: 'Bebas Neue', cursive;
            color: white;
            font-size: 5rem;
            line-height: 70px;
        }
   }



  #Entrega{
            width:500px !important;
    
     }

#Servicios{
        img{
            width: 65%;
        }
     }

#Funcion img {
        width: 40%;
    }
#ServiciosMoto{
     margin-top:-40px;

}
#titulocontacto h2{
    margin-top: 90px;}


    #RRSS-Footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

}

#Iconos-RRSS{
        width:30%;

}
#DatosEmpresa-Footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
}


#DatosEmpresa-Footer {
    display: flex;
        flex-direction:row;
        justify-content: space-evenly;

}
     }

/*Intermedio Tablet*/

 @media(min-width:900px){

    #Funcion img {
        width: 30%;
    }
  }



    /*Desktop*/

    @media(min-width:1025px){
        #Nosotros{
            h2{
                margin-top:150px;
            }
       

            #BotonNosotros{
                width:300px;
    
            }
    
            #ContenedorBotones{
                display:flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin-bottom:50px;
            }
           h5{
            margin-top:-20px;
           }
            
        }
        #nosotros-text{
            margin-top:-50px;
        }

        #textcenternosotros{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
           align-items: center;
             img{
                width:25%;
                height: auto;
             } 

             div{
                width:50%;
             }
        }
      
        #Funcion{
            h2 {
            padding-top: 80px;
            padding-bottom: 20px;
         
        }
        p{
            font-size:1rem;
        }
        img {
            width: 12%;
        } }       
       
        #ServiciosMoto div h4 {
            font-size: 2rem;
        }
        #ServiciosMoto div h3 {
            font-size: 2rem}
        
            
       #SeccionApp{
        h2{
            font-size: 3rem;
            line-height: 40px
        }     
        img {
            width: 20%;
        }   }
       
        #App #SendApp {
            width: 4%;}

        #imagenapp{
            width: 20% !important;
        }   

      #Contacto{
        textarea{
            height: 124px;
        }
      }

      #titulocontacto h2{
            margin-top: 90px;}
     
    
            #RRSS-Footer {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
        
        }
        
        #Iconos-RRSS{
                width:15%;
        
        }
        #DatosEmpresa-Footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start !important;
        }
  
    }


    /*Responsive mobile menos de 375px*/

    @media(max-width:385px){
       
        #Nosotros #ContenedorBotones {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 60px;
        }
    }